/*body{
    background-color: blue;
}
p{
    background-color:brown;
    color: white;
}
 h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(121, 23, 40);
 }
 #home{
    background-color:aqua;
 }
 .footer{
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
 }*/
 div~p{
   background-color: Brown;
   color:white;
 }
 p:hover{
    font-size: xx-large;
    background-color: aqua;
 }
 p::after{
    content: "Abes engineering collage";
    background-color: coral;
    color: aliceblue;
 }
  p::before{
    content: "Abes engineering collage";
    background-color: purple;
    color: aliceblue;
 }
 p::selection{
    background-color: chartreuse;

 }
 p:nth-child(2){
    background-color: black;
    color: white;
 }
 p:nth-of-type(1){
    background-color: blue;
    color: aliceblue;
 }