p{
    background-color: aqua;
    color: black;


}
h2{
    background-color: brown;
    font-size: 50px;
}
#home{
    background-color: yellowgreen;
    font-size: 50px;
}
.h{
    background-color: rgb(187, 0, 255);
    font-size: 50px;

}
