.container{
    display: grid;
    background-color: lightblue;
    color: white;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 400px 200px ;
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: black;
    color: white;

}
.class1{
    display: grid;
  background-color: red;
  border: 1px dotted pink;
  grid-template-rows: repeat(2 ,1fr);
  grid-template-columns: repeat(2,1fr);

}
.class11{
 background-color: rgb(43, 226, 73);
 height: 100px;
 width: 100px;
 margin-top: 20px;
 margin-left: 20px;
}
.class12{
     background-color: rgb(195, 226, 43);
      height: 100px;
      width: 100px;
      margin-top: 20px;
 
}
.class13{
    background-color: rgb(165, 43, 226);
     height: 100px;
     width: 100px;
     margin-left: 20px;
}
.class14{
    background-color: rgb(43, 226, 141);
     height: 100px;
     width: 100px;
}
.class2{
  background-color: lightsalmon;
  border: 1px dotted green;

}
.class3{
  background-color: brown;
  border: 1px dotted yellow;

}
.class4{
  background-color: purple;
  border: 1px dotted lightblue;

}